@import url(cards.css);

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



/* CSS Document */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {

	/* ? font variables start*/
	--fs-2432: clamp(1.5rem, 1.333rem + 0.741vw, 2rem);
	--fs-1416: clamp(0.875rem, 0.833rem + 0.185vw, 1rem);
	--fs-1216: clamp(0.75rem, 0.667rem + 0.37vw, 1rem);
	--fs-1016: clamp(0.625rem, 0.5rem + 0.556vw, 1rem);
	--fs-0812: clamp(0.5rem, 0.417rem + 0.37vw, 0.75rem);

	--fw-bold: bold;
	--fw-regular: 400;
	/* ! Font variables end */



	/* ? Color variables start */
	--primary-identity: #DC0A2D;

	--dark-grayscale: #212121;
	--medium-grayscale: #666666;
	--light-grayscale: #E0E0E0;
	--background-grayscale: #EFEFEF;
	--white-grayscale: #FFFFFF;
	/* ! Color variables end */



	/* ? header variables start*/
	--headline-header: var(--fs-2432);
	--subtile1-header: var(--fs-1416);
	--subtitle2-header: var(--fs-1216);
	--subtitle3-header: var(--fs-1016);
	/* ! header variables end */



	/* ? body variables start */
	--body1: var(--fs-1416);
	--body2: var(--fs-1216);
	--body3: var(--fs-1016);
	--caption-body: var(--fs-0812);
	/* ! body varibles end */



	/* ? shadow variable start*/
	--dropshadow2: 0px 1px 3px 1px rgba(0, 0, 0, .20);
	--dropshadow6: 0px 3px 12px 3px rgba(0, 0, 0, .20);
	--innershadow2: 0px 1px 3px 1px rgba(0, 0, 0, .25) inset;
	/* ! shadow variable end */
}

#root {
	min-width: 360px;
	margin: 0 auto;
	padding: 0.25rem;
	background-color: var(--primary-identity);
	height: 100vh;
}

html {
	font-family: "inter", Arial, Helvetica, sans-serif;
}

body {
	overflow: hidden;
	height: 100vh;
	overflow: -moz-hidden-unscrollable;
}

main {
margin-top: 6.75rem;
}

p {
	padding-bottom: 1em;
}

/* RWD: */
img {
	width: 100%;
	height: auto;
	display: block;
}